.landing-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

  button{
    font-size: 20px;
  }

  img{

    flex: 0 0 30%; /* Les images prennent 30% de l'espace du conteneur, mais ne se rétrécissent pas ni ne grandissent */
  max-width: 100%;

  }