.face-snap-card {
    box-sizing: border-box;
    width: 30%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    display: flex;            /* Active Flexbox */
    flex-direction: column;   /* Empile les éléments verticalement */
    align-items: center;      /* Centre les éléments horizontalement */

    img {
        width: 70%;
        /* Ajoutez des règles supplémentaires si nécessaire */
    }
    h2 {
        margin-bottom: 0;
        /* Ajoutez des règles supplémentaires si nécessaire */
    }
    p {
        font-weight: 300;
        font-size: 16px;
        /* Ajoutez des règles supplémentaires si nécessaire */
    }
    
}

.snapped {
    background-color: rgba(rgb(157, 157, 157), 0.4);
    color: rgb(28, 28, 28);
    button {
      box-shadow: rgb(232, 232, 232) 3px 3px 7px;
      color: rgb(0, 0, 0);
      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }
  }


  .valide {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;
    button {
      box-shadow: lightgreen 3px 3px 7px;
      color: darkgreen;
      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }
  }